.header {
    margin-top: .5rem;
    padding-left: 10px;
    font-size: 1.4rem;
    align-items: center;
}

.header nav a{
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    max-height: 46px;
    text-decoration: none;
}

.header nav a:hover {
    background-color: #232323;
}

.header nav a:active {
    transform: scale(0.92)
}

.header a {
    text-decoration: none;
    padding: .5rem 1rem;
    transition: all .2s ease;
}

.header a:hover {
    text-decoration: none;
}

.header h3 {
    display: flex;
    text-align: center;
}

.header h3 a {
    font-family: 'Star Jedi Hollow', sans-serif;
    color: #ffee58;
    font-size: 42px;
}

.header h3 a:hover {
    color: #00bc8c;
}

@media screen and (max-width: 991px) {
    .header h3 a {
        font-size: 32px;
    }
}
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .header h3 {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width: 444px) {
    .header nav a {
        font-size: 1rem;
    }
}
