@font-face {
    font-family: "STARWARS";
    font-display: swap;
    src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff");
}

@font-face {
    font-family: 'Star Jedi Hollow';
    font-display: swap;
    src: url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/dcb5cf864bdbede594c7d31a204dee8d.woff") format("woff");
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "STARWARS", sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 20px;
}
