.list-group {
    margin-bottom: 1rem;
}

.list-group .list-group-item {
    cursor: pointer;
    border-radius: 0.25rem;
}

.list-group .list-group-item:hover {
    background-color: #232323;
}

.l-item {
    background-color: #222222b3;
}
